[submodule "Atmosphere-libs"]
	path = Atmosphere-libs
	url = https://github.com/Atmosphere-NX/Atmosphere-libs.git
[submodule "libtesla"]
	path = libtesla
	url = https://github.com/WerWolv/libtesla.git
